*.class
*.log
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
project/
src/main/java/
src/main/scala/
src/test/
target/
src/main/scala-2.12/events/mqtt/
src/main/scala-2.12/tasks/
